<h4 id="data-management-best-practices">Data Management Best Practices</h4>
<ul>
<li><a href="https://www.haverford.edu/tier">TIER Protocol</a> - A defined protocol for structuring and managing code, data and output of your resercher</li>
<li><a href="http://libraries.ucsd.edu/services/data-curation/data-management/index.html">RDCP</a> - Library unit who can help you with your research data needs</li>
<li><a href="http://roger.ucsd.edu/record=b8897217~S9">Workflow for Data Analysis using Stata</a> by Scott Long - A book that has informed many efforts to produce reproducible workflows in Stata</li>
</ul>
<h4 id="unixbash">Unix/Bash</h4>
<ul>
<li><a href="http://explainshell.com/">Explainshell</a></li>
<li><a href="http://goo.gl/clHYGu">Data Science at the Command Line</a> - a book the library subscribes to through O'Reilly's Safari. There are many other books related to Unix, Bash, etc. in Safari.</li>
</ul>
<h4 id="open-refine">Open Refine</h4>
<ul>
<li><a href="https://github.com/OpenRefine/OpenRefine/wiki">Open Refine</a></li>
<li><a href="https://github.com/OpenRefine/OpenRefine/wiki/Documentation-For-Users#reference">GREL Expressions</a></li>
<li><a href="https://github.com/OpenRefine/OpenRefine/wiki/Documentation-For-Users">Open Refine Documentation</a></li>
</ul>
<h4 id="data-cleaning">Data Cleaning</h4>
<ul>
<li><a href="https://github.com/Quartz/bad-data-guide">Quartz guide to bad data</a> - A great guide to dealing with real-world data quality issues.</li>
<li><a href="http://proquest.safaribooksonline.com/book/-/9781449324957">Bad Data Handbook</a> - Another O'Reilly book that covers some of the pitfalls on dealing with data.</li>
<li><a href="http://vita.had.co.nz/papers/tidy-data.pdf">Tidy Data</a> by Hadley Wickham - defines what tidy data is, typifies cases when data is untidy and explains the operations needed to make data tidy</li>
</ul>
