<p>NOTE: Because Monday (February 15th) falls on President's Day, we will meet on Wed.(February 17th) and Fri.(February 19th) instead that week.</p>
<ol style="list-style-type: decimal">
<li>February 17 - Introduction to Data Management Part 1 (Reid)</li>
</ol>
<ul>
<li>Data Management Defined</li>
<li>Best Practices</li>
<li></li>
<li></li>
</ul>
<ol start="2" style="list-style-type: decimal">
<li>February 19 - Introduction to Data Management Part 2 (Hyeonsu)</li>
</ol>
<ul>
<li></li>
<li></li>
<li></li>
</ul>
<ol start="3" style="list-style-type: decimal">
<li>Feb. 22 - (Juliane)</li>
<li>Feb 24 - (Hyeonsu)</li>
<li>Feb. 29 - Databases and SQL (Tim)
<ul>
<li>Selecting, sorting, and filtering data</li>
<li>Calculating new values</li>
<li>Aggregation</li>
</ul></li>
<li>March 2 - Databases &amp; SQL (Hyeonsu)
<ul>
<li>Combining, creating &amp; modifying data</li>
<li>Programming with databases</li>
</ul></li>
</ol>
<table>
<colgroup>
<col width="11%" />
<col width="32%" />
<col width="56%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Class</th>
<th align="left">Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><p>Jan. 25</p></td>
<td align="left"><p>Setup, Intro &amp; numpy</p></td>
<td align="left"><ul>
<li>Intro to course</li>
<li><a href="http://goo.gl/m0Y6r4">Analyzing patient data</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 27</p></td>
<td align="left"><p>Lab: Intro &amp; numpy</p></td>
<td align="left"><ul>
<li>Programming workbook</li>
<li>Assignment</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 11</p></td>
<td align="left"><p>Loops, lists &amp; functions</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/1oAu1Z">Repeating actions with loops</a></li>
<li><a href="http://goo.gl/fV1L2F">Storing multiple values in lists</a></li>
<li><a href="http://goo.gl/R4zvnl">Creating functions</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 13</p></td>
<td align="left"><p>Lab: Loops, lists &amp; functions</p></td>
<td align="left"><ul>
<li>Challenges &amp; assignment</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 20</p></td>
<td align="left"><p>Pandas and using functions</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/CgzhPE">Modularization</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 22</p></td>
<td align="left"><p>Lab: Pandas &amp; using functions</p></td>
<td align="left"><ul>
<li>Wrap-up</li>
<li>Challenges &amp; assignment</li>
</ul></td>
</tr>
</tbody>
</table>
