<p>NOTE: Because Monday (February 15th) falls on President's Day, we will meet on Wed.(February 17th) and Fri.(February 19th) instead that week.</p>
<table>
<colgroup>
<col width="11%" />
<col width="32%" />
<col width="56%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Class</th>
<th align="left">Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><p>Feb. 17</p></td>
<td align="left"><p>Intro to Data Management P1</p></td>
<td align="left"><ul>
<li>Data Management Defined</li>
<li>Best Practices</li>
<li><a href="https://goo.gl/M3HeT7">TIER Protocol</a></li>
<li>Intro to Unix Shell (<a href="http://goo.gl/cwNBsD">1</a>, <a href="http://goo.gl/FxkPrb">2</a>)</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Feb. 19</p></td>
<td align="left"><p>Intro to Data Management P2</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/1d1owz">Pipes &amp; Filters</a></li>
<li><a href="http://goo.gl/cWzYnW">Shell Scripts</a></li>
<li>Hands-on exercises &amp; <a href="dm101-assignment1-gps.html">assignment</a></li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Feb 22.</p></td>
<td align="left"><p>Unix Shell pt. 3</p></td>
<td align="left"><ul>
<li>TBA</li>
<li>Hands-on exercises</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Feb. 24</p></td>
<td align="left"><p>Data Preparation</p></td>
<td align="left"><ul>
<li>Data Cleaning in OpenRefine</li>
<li>Hands-on exercises &amp; assignment</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Feb. 29</p></td>
<td align="left"><p>Databases and SQL</p></td>
<td align="left"><ul>
<li>Selecting, sorting, and filtering data</li>
<li>Calculating new values</li>
<li>Aggregation</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Mar. 2</p></td>
<td align="left"><p>Databases and SQL</p></td>
<td align="left"><ul>
<li>Combining, creating &amp; modifying data</li>
<li>Programming with databases</li>
<li>Hands-on exercies &amp; assignment</li>
</ul></td>
</tr>
</tbody>
</table>
